<template>
  <component :is="layout">
    <RouterView />
  </component>
</template>

<script>
import { mapState } from 'pinia';
import { useLayoutStore } from './store/modules/layout.ts';
import { useAuthStore } from './store/modules/auth.ts';

import BasicLayout from './layouts/Basic.vue';
import DashboardLayout from './layouts/Dashboard.vue';

export default {
  name: 'App',
  components: {
    BasicLayout,
    DashboardLayout,
  },
  computed: {
    ...mapState(useLayoutStore, ['layout']),
  },
  // async beforeRouteEnter() {
  //   console.log('test');
  //   await useAuthStore().fetchUser();
  // },
};
</script>
