<template>
  <slot />
</template>

<script>
export default {
  name: 'BasicLayout',
  mounted() {
    document.body.classList.add('bg-gray-50');
  },
  unmounted() {
    document.body.classList.remove('bg-gray-50');
  },
};
</script>
